# Folders:
.ipynb_checkpoints/*
IrisProject/*
.vscode/*

# File Types:
*.vtk
*.dat
*.zip

# Files:
dmpcls.*
dmpcrs.*
.directory
.dmpci.*
Notes
results_parse.py
dpd-linux
dpd-w10.exe

# Python
__pycache__/
